
    
    .Blog{
    
        width: 30px;
        border: 15px solid rgb(255, 255, 255);
        padding: 50px;
        margin: 10px;
        font-size: 50px;
        font-family:cursive, Arial, Helvetica, sans-serif; 
       }
      
    
    
    
    .Content{
        display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #e075ab;
  padding: 5px;
    
    }

    .grid-item{
        height: 400px;
        margin: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 12px;
        font-size: 30px;
        text-align: center;
        font-family:cursive, Arial, Helvetica, sans-serif; 
        border-radius: 30px;
    }
    
    .footer{

        position: fixed;
       
        bottom: 0;
        width: 100%;
        background-color: thistle;
        color:black;
        text-align:left;
     
         }
  